<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap-4/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/global.css">
    <script src="js/main.js"></script>
    <title>Home</title>
    <style>
  input[type='radio'] {
  display: none;
}

.checkboxLabel:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 17px;
  height: 17px;
  border-radius: 11px;
  border: 2px solid #FF9A00;
  background-color: transparent;
}

input[type='radio']:checked+.checkboxLabel:before {
  position: relative;
  border: 2px solid #FF9A00;
  border-radius: 11px;
  width: 17px;
  height: 17px;
  top: 5px;
  content: " ";
  display: inline-block;
  background-color: #FF9A00;
}
    </style>
</head>
<body id="homeBg" >
<!--Featured venues-->

<div class="container ">
    <div class="row">
        <div class="col feature">
            <img src="images/cake.png" class="mb-1 mt-4" alt="">
            <h1 class="display-1">Contact US</h1>
            <p></p>
        </div>
    </div>
</div>

  <table style="height: 300px;">
  <tbody>
    <tr>
      <td class="align-middle"></td>

    </tr>
  </tbody>
</table>
<table class="mx-auto table-borderless" style="height: 300px;">
  <tbody>
    <tr>
      <td class="align-top "><h1>Email:abc@gmail.com</h1></td>
    </tr>
     <td class="align-top "><h1>Phone:123456789</h1></td>
  </tbody>
</table>
<!--Jquery bootstrap popper files-->
    <script src="D:/NodeProject/app.js"></script>
    <script src="jquery/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script> 
    <script src="bootstrap-4/js/bootstrap.min.js"></script>
</body>
</html>