<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="bootstrap-4/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/themes.css">
    
    <title>Resources</title>
  
</head>
<body id="themeBg">
        
<!--nav-->
<nav class="navbar navbar-expand-xl navbar-light mynav">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><h4>Bangarang <span id="birthdays"> Birthdays</span></h4></a>
    </div>
    <button class="navbar-toggler ml-auto"  type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a class="nav-link active" href="#">Resources <span> | </span></a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Direct Link <span> | </span></a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Booked Parties <span> | </span></a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Schedule <span> | </span></a> 
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Themes</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#"><img src="images/N.png" alt="" srcset="" style="width: 30px; margin-top: -5px"></a> 
            </li>
    
        </ul>
    </div>
</nav>
    <!--theme header-->
<div class="container">
    <div class="row justify-content-center  mt-3 ">
          
        <div class="col-10 backcover" >
            <p class="text-center ">5 Things your Party Theme Needs </p>
        </div>
        <div class="col-10 mt-4 mr-3">
            <p class="resourceTitle">First Thing You Need</p>
            <p class="resourceBody">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    
        </div>
        <div class="col-10 mr-3">
            <p class="resourceTitle">First Thing You Need</p>
            <p class="resourceBody">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</div>
    
    
    <script src="jquery/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script> 
    <script src="bootstrap-4/js/bootstrap.min.js"></script>  
</body>
</html>