<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="bootstrap-4/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/themes.css">
    
    <title>Resources</title>
</head>
<body id="themeBg">
        
<!--nav-->
<nav class="navbar navbar-expand-xl navbar-light mynav">
        <div class="">
        <a class="navbar-brand" href="#"><h4>Bangarang <span id="birthdays"> Birthdays</span></h4></a>
        </div>
        <button class="navbar-toggler ml-auto"  type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link active" href="#">Resources <span> | </span></a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Direct Link <span> | </span></a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Booked Parties <span> | </span></a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Schedule <span> | </span></a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Themes</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="font-weight: bold; color:#00C4FF">Username</a> 
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#"><i class="fas fa-sign-in-alt" style="font-size: 16px;color: #00C4FF"></i></a> 
                </li>
              
            </ul>
        </div>
    </nav>
    <!--theme header-->
<div class="container ">
    <div class="row mt-5">
        <div class="col-12 col-lg-12 col-xl-12 venue ">
            <h4 class="title">Resources</h4>
        </div>
    </div>
    <hr style="width: 75% !important">
</div>
<!--1 row of pictures-->
<div class="container">
    <div class="row justify-content-center" >
        <div class="col-8 col-xl-3 col-lg-4 col-md-4 resources" > 
            <a href=""> <img src="images/pic1.png" class="w-100" alt=""></a>
            <p>5 Things your Party Theme Needs</p>
        </div>
        <div class="col-8 col-xl-3 col-lg-4 col-md-4  resources">
            <a href="#" ><img src="images/pic6.png"  class="w-100" alt=""></a>
            <p>How to set up a Nerf Party!</p>
        </div>
        <div class="col-8  col-xl-3 col-lg-4 col-md-4  resources">
            <a href=""><img src="images/pic3.png" class="w-100" alt=""></a>
            <p>Group Discounts for ordering party...</p>
        </div>
    </div>
</div>
<!--2nd row of pictures-->
<div class="container">
    <div class="row justify-content-center mt-3" >
        <div class="col-8 col-xl-3 col-lg-4 col-md-4 resources" >
            <a href="#"> <img src="images/pic2.png" class="w-100" alt=""></a>  
            <p>How to videos on party setup</p>
        </div>
        <div class="col-8 col-xl-3 col-lg-4 col-md-4  resources">
            <a href="#"> <img src="images/pic9.png"  class="w-100" alt=""></a>   
            <p>Full Birthday Class Planners</p>
        </div>
        <div class="col-8 col-xl-3 col-lg-4 col-md-4  resources">
            <a href="#">  <img src="images/pic7.png" class="w-100" alt=""></a>  
            <p>Creative Decorations</p>
        </div>
    </div>
</div>
<!--3rd row of pictures-->
<div class="container">
    <div class="row justify-content-center mt-3" >
        <div class="col-8 col-xl-3 col-lg-4 col-md-4  resources">
            <a href="#"><img src="images/pic4.png" class="w-100" alt=""></a>    
            <p>5 Things your Birthday Theme Needs</p>
        </div>
        <div class="col-8 col-xl-3 col-lg-4 col-md-4 resources" >
            <a href="#">  <img src="images/pic8.png"  class="w-100" alt=""></a>  
            <p>Creative Decorations</p>
        </div>
        <div class="col-8 col-xl-3 col-lg-4 col-md-4  resources">
            <a href="#">  <img src="images/pic5.png" class="w-100" alt=""></a>  
            <p>How to setup a Nerf Party!</p>
        </div>
    </div>
</div>
   
    
    <script src="jquery/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script> 
    <script src="bootstrap-4/js/bootstrap.min.js"></script>  
</body>
</html>