<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap-4/css/bootstrap.min.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/global.css">
    <script src="js/main.js"></script>
    <title>Home</title>
    <style>
  input[type='radio'] {
  display: none;
}

.checkboxLabel:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 17px;
  height: 17px;
  border-radius: 11px;
  border: 2px solid #FF9A00;
  background-color: transparent;
}

input[type='radio']:checked+.checkboxLabel:before {
  position: relative;
  border: 2px solid #FF9A00;
  border-radius: 11px;
  width: 17px;
  height: 17px;
  top: 5px;
  content: " ";
  display: inline-block;
  background-color: #FF9A00;
}
    </style>
</head>
<body id="homeBg" >

<!--header-->
<div class="heading">
    <h1>Rent a birthday party venue</h1>
    <p>Planning & Booking your Child's Birthday Should be Easy!</p>
</div>
<!--How far where section
<div class="container headingbtn" >
    <div class="row justify-content-center">
        <form action="/search" method="GET">
        <div class="col-10 col-xl-8 col-lg-8 col-md-8  input-group" id="WhereHow" >
            <i class="fas fa-map-marker-alt" id="location"></i>
             <input  type="text" id="login" class="fadeIn second " name="search" placeholder="Name">
            </div>
                    <input type="submit" value="Search" href="#"class="col-11 loginBtn mt-1" style=" color: #blue;">
            
            </form>
    </div>
</div>-->
<div class="row justify-content-center mt-5">
    
 <div id="formContent">
                <form action="/search" method="POST" class="login-form">
                
                <input  type="text" id="Search" class="mt-3" name="vName" placeholder="Venue Name" >
                                        <h6 class="mt-1">OR</h6>
                 <input  type="text" id="Search" class="mt-1" name="vCity" placeholder="City">
                <div class="row justify-content-center">

                        <div class="entry">
                            <input type="submit" value="Search" class="col-10 loginBtn mt-3" style=" color :white;">
                        </div>
                        
                </div>
            </form> 
        </div>
 </div>
<!--Featured venues-->

<div class="container ">
    <div class="row">
        <div class="col feature">
            <img src="images/cake.png" class="mb-1 mt-4" alt="">
            <h5>Venues</h5>
            <p>Take a look at where your child's birthday could be this year!</p>
        </div>
    </div>
</div>

<div class=" container padding ">
    <div class="row padding">
         {{#each venues}}
        <div class=" col-6 col-xl-3 col-lg-6 col-md-6">
            <a class=" Cards" href="/selectTheme/{{this.Name}}">
                <img class="card-img-top" src="{{this.Image}}" alt="">
                <div class="card-img-overlay">
                    <p class="card-text price-tag">${{this.Price}}</p>
                </div>
                <img src="images/ninja.png" alt="">
                <p class="card-text"  >{{this.Name}}</p>
            </a>
              
        </div>
            {{/each}}  
    </div>
</div>
        
<!--Jquery bootstrap popper files-->
    <script src="D:/NodeProject/app.js"></script>
    <script src="jquery/jquery-3.4.0.min.js"></script>
    <script src="js/popper.min.js"></script> 
    <script src="bootstrap-4/js/bootstrap.min.js"></script>
</body>
</html>