<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./bootstrap-4/css/bootstrap.min.css">
    <link rel="stylesheet" href="./fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./css/selectTheme.css"> 
    
    <title>Select Theme</title>
</head>
<body id="themeBg" >
   <!--nav-->
<nav class="navbar navbar-expand-md navbar-light  ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><h4>Bangarang Birthdays</h4></a>
    </div>
    <button class="navbar-toggler ml-auto"  type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link contact" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white_btn contact" href="#">Become A Host</a>
            </li>
                
        </ul>
    </div>
</nav>
 
<!--Featured venues-->
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4 col-xl-4 col-md-4 text-center back">
        <a href="home.html" class="backbtn"> <i class="fas fa-chevron-left" style="margin-right: 10px;">  </i>         Back Home</a>
        </div>
        <div class="col-12 col-lg-5 col-xl-5 col-md-5 venue mt-3 ">
            <p class="title" style="font-size: 13px; margin-bottom: 0px;">VENUE</p>
            <h4 class="text-center">Tumbling Studio</h4>
            <p class="subTitle">15934 Park Ave, New York City, NY 92844</p>
        </div>
    </div>
    <hr style="width: 79% !important">
</div>
<div class="container" >
    <div class="row h-100 justify-content-center">
        <div class="col-2 col-lg-2 my-auto selectThemep">
            <p >Theme</p>
        </div>
        <div class="col-5 col-lg-3">
            <div class="Cards"> 
                <div class="card-body">
                    <img src="images/ninja.png" alt="">
                    <label class="card-title">Ninja Turtle</label>
                </div>
                <img class="card-img-top" src="images/img1.png" alt="">
            </div>
        </div>
        <div class="col-5 col-lg-3 ">
            <div class="Cards">
                <div class="card-body">
                    <img src="images/princess.png" alt="">
                <label class="card-title">Princess Party</label>
                </div>
                <img class="card-img-top" src="images/img2.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-2 col-lg-2  selectThemep">
            <p >Price</p>
        </div>
        <div class="col-5 col-lg-3">
            <div class="form-group  mb-2">
                <input readonly type="password" class="form-control" id="inputPassword2" placeholder="$199/day">
            </div>
            <hr class="myhr">
        </div>
        <div class="col-5 col-lg-3">
            <div class="form-group  mb-2">
            <input readonly type="password" class="form-control" id="inputPassword2" placeholder="$199/day">
            </div>
            <hr class="myhr">
        </div>
            
    </div>
        
</div>
    <!--2nd-->
<div class="container mt-4">
    <div class="row justify-content-center ">
        <div class="col-2 col-lg-2 selectThemep">
            <p>Length</p>
        </div>
        <div class="col-5 col-lg-3">
            <div class="form-group mb-2">
                <input readonly type="password" class="form-control" id="inputPassword2" placeholder="90 minutes">
            </div>
            <hr class="myhr">
        </div>
                
        <div class="col-5 col-lg-3">
            <div class="form-group  mb-2">
            <input readonly type="password" class="form-control" id="inputPassword2" placeholder="90 minutes">
            </div>
            <hr class="myhr">
        </div>
                
    </div>
            
</div>
    <!--3rd-->
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-2 col-lg-2  selectThemep">
            <p >Cancellation</p>
        </div>
        <div class="col-5 col-lg-3">
            <div class="form-group  mb-2">
                <input readonly type="password" class="form-control" id="inputPassword2" placeholder="3 Days Prior">
            </div>
            <hr class="myhr">
        </div>
                
        <div class="col-5 col-lg-3">
            <div class="form-group  mb-2">
            <input readonly type="password" class="form-control" id="inputPassword2" placeholder="3 Days Prior">
            </div>
            <hr class="myhr">
        </div>
                
    </div>
            
</div>
    <!--4th-->
    

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-2 col-lg-2  selectThemep">
            <p >Included</p>
        </div>
        <div class="col-5 col-lg-3">
            <div class="form-group  mb-2">
                <textarea readonly  class="form-control " rows="5" id="comment" placeholder="Hosted party with obstacles, referee,all nerf darts provided. Includes drinks,plates, forks, decorations."></textarea>
        </div>
        <hr class="myhr">
        </div>
                
        <div class="col-5 col-lg-3">
            <div class="form-group  mb-2">
                <textarea readonly class="form-control" rows="5" id="comment" placeholder="Hosted party with obstacles, referee,all nerf darts provided. Includes drinks,plates, forks, decorations."></textarea>
            </div>
            <hr class="myhr">
        </div>
                
    </div>
            
</div>
    <!--5th-->
    <div class="container mt-4">
        <div class="row justify-content-center ">
            <div class="col-2 col-lg-2  selectThemep">
                <p >Not Included</p>
            </div>
            <div class="col-5 col-lg-3">
                <div class="form-group  mb-2">
                    <input readonly type="password" class="form-control" id="inputPassword2" placeholder="Cake, Party Favors, Nerf Guns">
                </div>
                <hr class="myhr">
            </div>
                
            <div class="col-5 col-lg-3">
                <div class="form-group mb-2">
                <input readonly type="password" class="form-control" id="inputPassword2" placeholder="Cake, Party Favors">
                </div>
                <hr class="myhr">
            </div>
                
        </div>
            
    </div>
    <!--6th-->
    <div class="container mt-4">
        <div class="row justify-content-center ">
            <div class="col-2 col-lg-2  selectThemep">
                <p >Min Age</p>
            </div>
            <div class="col-5 col-lg-3">
                <div class="form-group  mb-2">
                    <input readonly type="password" class="form-control" id="inputPassword2" placeholder="5 Years Old">
                </div>
                <hr class="myhr">
            </div>
                
            <div class="col-5 col-lg-3">
                <div class="form-group  mb-2">
                <input readonly type="password" class="form-control" id="inputPassword2" placeholder="6 Years Old">
                </div>
                <hr class="myhr">
            </div>
                
        </div>
            
    </div>
    <!--7th-->
    <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-2 col-lg-2  selectThemep">
                    <p >Max Participants</p>
                </div>
               
                <div class="col-5 col-lg-3">
                <div class="form-group  mb-2">
                    <input readonly type="password" class="form-control" id="inputPassword2" placeholder="Unlimited">
                </div>
                <hr class="myhr">
                </div>
                
                <div class="col-5 col-lg-3">
                <div class="form-group  mb-2">
                <input readonly type="password" class="form-control" id="inputPassword2" placeholder="14-18">
                </div>
                <hr class="myhr">
                </div>
                
            
            
        </div>
    <!--8th-->
    <div class="container mt-4">
        <div class="row justify-content-center mb-5">
            <div class="col-2 col-lg-2  selectThemep">
                <p >Parent Waiver</p>
            </div>
            <div class="col-5 col-lg-3">
                <div class="form-group  mb-2">
                    <input readonly type="password" class="form-control" id="inputPassword2" placeholder="Required. Print Here">
                    
                </div>
                <hr class="myhr mb-4">
                <a href="/themeSelected/name" class="themebtn pt-2 pb-2 btn-block text-center">SELECT THEME</a>
                
            </div>
                
            <div class="col-5 col-lg-3">
                <div class="form-group  mb-2">
                <input readonly type="password" class="form-control" id="inputPassword2" placeholder="Fill out at venue">
                
                </div>
                <hr class="myhr mb-4">
                <a href="/themeSelected/name " class="themebtn pt-2 pb-2 btn-block text-center">SELECT THEME</a>
                
                </div>
                
            </div>
            
        </div>
      
  

    <script src="./jquery/jquery-3.4.0.min.js"></script>
    <script src="./js/popper.min.js"></script> 
    <script src="./bootstrap-4/js/bootstrap.min.js"></script>
</body>
</html>